configuration {
    show-icons: true;
    font: "Lexend 11";
    icon-theme: "Gruvbox Plus Light";

    display-ssh:    "󰣀  SSH:";
    display-run:    "󱓞  Run:";
    display-drun:   "󰣖  Apps:";
    display-window: "󱂬  Window:";
    display-combi:  "󰕘  Combi:";
    display-filebrowser: "󰉋  Filebrowser:";

    //dpi: 112;
}

@theme "rose-pine"
