configuration {
  // show-icons: true;
  font: "FantasqueSansM Nerd Font 10";
    // icon-theme: "Gruvbox Plus Dark";

    display-ssh:    "󰣀  SSH";
    display-run:    "󱓞  Run";
    display-drun:   "󰣖  Apps";
    display-window: "󱂬  Window";
    display-combi:  "󰕘  Combi";
    display-filebrowser: "󰉋  Filebrowser";

    dpi: 96;
}

@theme "gruvbox-dark-med"

// @theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
