$foreground: #DBE4EC;
$background: #1B1C1F;
$background-alt: rgba( $color: #1B1C1F, $alpha: 0.25 );
$cursor: #8F9EAE;

$color0:  #424346;
$color1:  #222C38;
$color2:  #314253;
$color3:  #34424E;
$color4:  #475965;
$color5:  #4A5E69;
$color6:  #738697;
$color7:  #C4D1DC;
$color8:  #89929A;
$color9:  #2D3A4B;
$color10: #42586F;
$color11: #455968;
$color12: #5E7786;
$color13: #637D8C;
$color14: #99B3C9;
$color15: #C4D1DC; 
