$bg0:    #2D353B;
$bg1:    #343F44;
$bg2:    #3D484D;
$bg3:    #475258;
$bg4:    #4F585E;
$bg5:    #56635f;
$grey0:  #7A8478;
$grey1:  #859289;
$grey2:  #9DA9A0;
$fg0:    #D3C6AA;

$bg-visual: #543A48;

$bg-red:    #514045;
$bg-yellow: #4D4C43;
$bg-green:  #425047;
$bg-blue:   #3A515D;

$red:       #E67E80;
$orange:    #E69875;
$yellow:    #DBBC7F;
$green:     #A7C080;
$aqua:      #83C092;
$blue:      #7FBBB3;
$purple:    #D699B6;

$med_aqua: $fg0;

$symbols: "Symbols Nerd Font";

$font: "lexend";
$font-size: 10pt;
$border-radius: 28px;


