spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "xwayland-satellite"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

gestures {
  hot-corners {
    off
  }
}
input {
  keyboard {
    xkb {
      layout "us"
      variant "colemak"
    }
    repeat-rate 60
    repeat-delay 300
  }
  touchpad {
    // off
    tap
    dwt
    natural-scroll
    accel-speed 0.25
    accel-profile "flat"
    disabled-on-external-mouse
  }

  mouse {
    // off
    accel-profile "flat"
  }
}
window-rule {
  geometry-corner-radius 10
  clip-to-geometry true
}
layout {
  gaps 10
  background-color "#000"
  // always-center-single-column
  center-focused-column "never"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 0.83333
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    // off
    width 1
    active-color "#000000cc"
  }

  border {
    // off
    width 1
    active-color "#686868cc"
    inactive-color "#666666cc"
  }

  shadow {
    on
    softness 20
    spread 5
    draw-behind-window true
    offset x=0 y=5
  }

  tab-indicator {
    width 2
    gap 5
    gaps-between-tabs 5
    corner-radius 10
    active-color "#fff"
    inactive-color "#ffffff55"
  }

  insert-hint {
    color "#ffffff22"
  }
  struts {
    top 4
    bottom 4
    right 4
    left 4
  }
}


animations {
  window-open {
    spring damping-ratio=1.0 stiffness=700 epsilon=0.0001
  }
  window-close {
    spring damping-ratio=1.0 stiffness=700 epsilon=0.1
  }
  window-resize {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.001
  }
  window-movement {
    spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
  }
  overview-open-close {
    spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
  }
  workspace-switch {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.00001
  }
  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=700 epsilon=0.0001
  }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  Mod+O repeat=false { toggle-overview; }

  Mod+Return { spawn "foot"; }
  Mod+S { spawn "fuzzel"; }
  Mod+D { spawn "emacsclient" "-r"; }
  Mod+Control+Escape { spawn "pkill" "niri"; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
  XF86AudioPause        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }

  XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  Mod+C repeat=false { close-window; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+N     { focus-window-down; }
  Mod+L     { focus-window-up; }
  Mod+E     { focus-column-right; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+N     { move-window-down; }
  Mod+Shift+L     { move-window-up; }
  Mod+Shift+E     { move-column-right; }
  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }

  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Ctrl+1 { move-column-to-workspace 1; }
  Mod+Ctrl+2 { move-column-to-workspace 2; }
  Mod+Ctrl+3 { move-column-to-workspace 3; }
  Mod+Ctrl+4 { move-column-to-workspace 4; }
  Mod+Ctrl+5 { move-column-to-workspace 5; }
  Mod+Ctrl+6 { move-column-to-workspace 6; }
  Mod+Ctrl+7 { move-column-to-workspace 7; }
  Mod+Ctrl+8 { move-column-to-workspace 8; }
  Mod+Ctrl+9 { move-column-to-workspace 9; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }
  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Space { center-column; }
  Mod+W { toggle-column-tabbed-display; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  // Finer height adjustments when in column with other windows.
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  // Move the focused window between the floating and the tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+Tab { focus-workspace-previous; }

  Mod+Shift+S { screenshot show-pointer=false; }
  Ctrl+Print { screenshot-screen show-pointer=false; }
  Alt+Print { screenshot-window; }

  Mod+Shift+Alt+R { spawn "ignis" "run-command" "recorder-record-screen"; }
  Mod+Alt+R { spawn "ignis" "run-command" "recorder-record-portal"; }
}

overview {
  backdrop-color "#000"
  zoom 0.5
}

hotkey-overlay {
  skip-at-startup
}
