configuration {
    show-icons: true;
    font: "Lexend 10";
    icon-theme: "Gruvbox Plus Dark";

    display-ssh:    "󰣀  SSH:";
    display-run:    "󱓞  Run:";
    display-drun:   "󰣖  Apps:";
    display-window: "󱂬  Window:";
    display-combi:  "󰕘  Combi:";
    display-filebrowser: "󰉋  Filebrowser:";

    location:7; yoffset:-32;

    //dpi: 112;
}

@theme "gruvbox-dark-med-icon-dash"
