.bar {
  color: $fg;
  background-color: rgba($color: $bg, $alpha: 1);
  box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);

  padding: 3px 7px;
  margin: 0px;
  border-radius: 0px;

  .powermenuButton {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    font-size: 1.5rem;
    border: 1px solid $bg2;
    border-radius: $border-radius;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba($color: $bg1 , $alpha: 1);
    margin: 4px 0px 2px 0px;
    padding: 7px 0px 5px 0px;
    // padding-right: 1px;

    button {
      margin: 0px 6px 0px 0px;
    }
    button:hover {
      color: $bri_red;
    }
  }

  .workspaces {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    border: 1px solid $bg2;
    font-size: 1.25rem;
    background-color: rgba($color: $bg1 , $alpha: 1);
    border-radius: $border-radius;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    // margin: 4px 4px 0px 4px;
    margin: 2px 0px 4px 0px;
    padding: 7px 0px 10px 0px;
    padding-left: 7px;

    button:hover {
      color: $neu_blue;
    }

    .ws-icon {
      padding-right: 0px;
      color: rgba($color: $fg, $alpha: 0.3);
      margin: 0px;
    }

    .ws-icon-current {
      padding-right: 0px;
      color: $fg;
      margin: 0px 6px 0px 0px;
    }

    .ws-icon-busy {
      padding-right: 0px;
      color: $fg;
      margin: 0px;
    }

  }

  .tray {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    border: 1px solid $bg2;
    background-color: rgba($color: $bg1 , $alpha: 1);
    color: $fg;
    // margin: 4px;
    margin: 0px 0px 4px 0px;
    border-radius: $border-radius;
    border-top-right-radius: 4px;
    border-top-left-radius: 5px;
    padding: 10px 0px 10px 0px;
  }

  .clock {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    border: 1px solid $bg2;
    background-color: rgba($color: $bg1 , $alpha: 1);
    margin: 4px 0px 0px 0px;
    // margin: 4px 4px 0px 4px;
    padding: 10px 0px 10px 0px;
    border-radius: $border-radius;
    font-size: 16px;
  }
}

.wifiIcon {
  margin: 0px 0px 0px 2px;
  font-size: 1.5rem;

  .wifi_connected {
    color: $fg;
  }

  .wifi_disconnected {
    color: $neu_red;
  }

  .wifi_unavaliable {
    margin: 0px 0px 0px -6px;
    color: $fg;
    font-size: 1rem;
  }

  .wifi_connecting {
    color: $neu_blue;
  }
}

.sysinfo {
  // margin: 4px 4px 0px 4px;
  margin: 4px 0px 4px 0px;
  padding: 5px 0px 5px 0px;
  border-radius: $border-radius;
  background-color: rgba($color: $bg1 , $alpha: 1);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid $bg2;
  box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);

  .batterySec {
    border-radius: $border-radius;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    progressbar trough {
      min-height: 60px;
      margin: 5px 0px 2px 0px;
      min-width: 29px;
      background-color: rgba($color: $bg1 , $alpha: 1);
      border-radius: 6px;
    }

    progressbar trough progress {
      background: $neu_blue;
      min-width: 29px;
      border-radius: 6px;
    }
  }
}
