.bar {
  color: $fg0;
  background-color: rgba($color: $bg0, $alpha: 1);

  .powermenuButton {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    font-size: 1.5rem;
    border: 1px solid $bg3;
    border-radius: $border-radius;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba($color: $bg2 , $alpha: 1);
    margin: 4px 4px 0px 4px;
    padding: 9px 0px 7px 0px;
    padding-right: 5px;

    button:hover {
      color: $red;
    }
  }

  .workspaces {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    border: 1px solid $bg3;
    font-size: 1.25rem;
    background-color: rgba($color: $bg2 , $alpha: 1);
    border-radius: $border-radius;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 4px 4px 0px 4px;
    padding: 7px 0px 10px 0px;
    padding-left: 7px;

    button:hover {
      color: $blue;
    }

    .ws-icon {
      padding-right: 3px;
      color: rgba($color: $fg0, $alpha: 0.3);
      margin: 0px;
    }

    .ws-icon-current {
      padding-right: 3px;
      color: $fg0;
      margin: 0px;
    }

    .ws-icon-busy {
      padding-right: 3px;
      color: $fg0;
      margin: 0px;
    }

  }

  .tray {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    border: 1px solid $bg3;
    background-color: rgba($color: $bg2 , $alpha: 1);
    margin: 4px;
    border-radius: $border-radius;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 0px 10px 0px;
  }

  .clock {
    box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);
    border: 1px solid $bg3;
    background-color: rgba($color: $bg2 , $alpha: 1);
    margin: 4px 4px 0px 4px;
    padding: 10px 0px 10px 0px;
    border-radius: $border-radius;
    font-size: 16px;
  }
}

.wifiIcon {
  margin: 0px 0px 0px 5px;
  font-size: 1.5rem;

  .wifi_connected {
    color: $fg0;
  }

  .wifi_disconnected {
    color: #cc241d;
  }

  .wifi_unavaliable {
    margin: 0px 0px 0px -6px;
    color: $fg0;
    font-size: 1rem;
  }

  .wifi_connecting {
    color: #458588;
  }
}

.sysinfo {
  margin: 4px 4px 0px 4px;
  padding: 5px 0px 5px 0px;
  border-radius: $border-radius;
  background-color: rgba($color: $bg2 , $alpha: 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid $bg3;
  box-shadow: 0px 2px 3px rgba($color: #000, $alpha: 0.5);

  .batterySec {
    border-radius: $border-radius;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    progressbar trough {
      min-height: 60px;
      margin: 5px 0px 2px 0px;
      min-width: 29px;
      background-color: rgba($color: $bg2 , $alpha: 1);
      border-radius: $border-radius;
    }

    progressbar trough progress {
      background: $blue;
      min-width: 29px;
      border-radius: $border-radius;
    }
  }
}
