.bordesitosCaja1 {
  background-color: #282828;
  border-radius: 10px;
  image {
    border-radius: 10px;
  }
}
.bordesitosCaja2 {
  margin: 20px;
  background-color: #282828;
  border-radius: 10px;
}
